/* 
Project Name: Monthly Resolutions
*/


/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}

body {
     background:url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxvZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
     color: #000000;
     font-family: 'Lato', sans-serif;
     line-height: 1.7; /* line-height is unit-less */
     font-size: 100%;
}  

.grey {
     color: grey;
}

.round {
     border-radius: 100%;
}

.orange {
     color: orange;
}
h1 {
     margin:20px auto 0 0;
     font-size: 40px;
}
.removegap {
     margin: 0 auto 10px 0;
}
p,b {
     font-size: small;
}


a {
     
}
/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/
#container {
     margin: 0 auto 0 auto;
     width: 910px;
}


/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/
#main {
     background: white;
     width: 610px;
     padding: 30px;
     float: left;
}

#sidebar {
     width: 280px;
     padding : 20px 20px 45px 20px;
     background: white;
     float: right;
     border-left: 2px solid rgb(153,153,153);
     border-bottom: 2px solid rgb(153, 153, 153);
}
 /* unvisited link */
a:link 
     {
  color: red;
     }

/* mouse over link */
a:hover {
  color: hotpink;
     }

/* selected link */
a:active {
  color: blue;
     }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
	}

